{% extends "base.html" %}
{% load static %}
{% block content %}
  
      
      <section>
        <div class="py-4 container">
          <div class="row justify-content-center align-items-center g-3">
            <div class="col-md-3">
              <div class="card shadow" style="height: 500px">
                <img
                  src="{% static 'assets/images/card1.jpg' %}"
                  class="card-img-top"
                  alt=""
                />
                <div class="card-body">
                  <h4 class="card-title text-blue">About Hertes</h4>
                  <p class="card-text text-truncate2">
                    Hertes is the world’s largest food and beverage company. We
                    have more than 2000 brands ranging from global icons to
                    local favourites, and we are present in 191 countries around
                    the world.
                  </p>
                  <a
                    href="#"
                    style="bottom: 20px"
                    class="text-blue position-absolute stretched-link"
                    >READ MORE
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-arrow-right-short"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card shadow" style="height: 500px">
                <img
                  src="{% static 'assets/images/card2.jpg' %}"
                  class="card-img-top"
                  alt=""
                />
                <div class="card-body">
                  <h4 class="card-title text-success">About Hertes</h4>
                  <p class="card-text text-truncate2">
                    Hertes is the world’s largest food and beverage company. We
                    have more than 2000 brands ranging from global icons to
                    local favourites, and we are present in 191 countries around
                    the world.
                  </p>
                  <a
                    href="#"
                    style="bottom: 20px"
                    class="text-blue position-absolute stretched-link"
                    >READ MORE
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-arrow-right-short"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card shadow" style="height: 500px">
                <img
                  src="{% static 'assets/images/card3.jpg' %}"
                  class="card-img-top"
                  alt=""
                />
                <div class="card-body">
                  <h4 class="card-title text-danger">About Hertes</h4>
                  <p class="card-text text-truncate2">
                    Hertes is the world’s largest food and beverage company. We
                    have more than 2000 brands ranging from global icons to
                    local favourites, and we are present in 191 countries around
                    the world.
                  </p>
                  <a
                    href="#"
                    style="bottom: 20px"
                    class="text-blue position-absolute stretched-link"
                    >READ MORE
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-arrow-right-short"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card shadow" style="height: 500px">
                <img
                  src="{% static 'assets/images/card4.jpg' %}"
                  class="card-img-top"
                  alt=""
                />
                <div class="card-body">
                  <h4 class="card-title text-info">About Hertes</h4>
                  <p class="card-text text-truncate2">
                    Hertes is the world’s largest food and beverage company. We
                    have more than 2000 brands ranging from global icons to
                    local favourites, and we are present in 191 countries around
                    the world.
                  </p>
                  <a
                    href="#"
                    style="bottom: 20px"
                    class="text-blue position-absolute stretched-link"
                    >READ MORE
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-arrow-right-short"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% endblock %}