{% extends "master.html" %}
{% block content %}
{% load static %}
<main>
  <div id="carouselExampleCaptions" class="carousel slide slider" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for i in first_slid %}
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}">
      </button>
      {% endfor %}
    </div>
    
    <div class="carousel-inner">
      {% for slide in first_slid %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ slide.image.url }}" class="d-block w-100" alt="" />
        <div class="carousel-caption d-none d-md-block">
          <h2>{{ slide.name }}</h2>
          <p>{{ slide.txt|safe }}</p>
          <a href="#" class="mb-3">READ MORE
            <i class="fa ms-2 fa-arrow-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
      
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

</main>
<br>
{% for product in products %}
<section>
  <div class="py-4 container">
    <div class="row justify-content-center align-items-center g-3">
      <div class="col-md-3"style="width:300px">
        <div class="card shadow" style="height: 500px">
          <img
            src="{{ product.image.url }}"
            class="card-img-top"
            alt=""
          />
          <div class="card-body">
            <p class="card-title text-blue">{{ product.name }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs-{{product.price}}</p>
            <p class="card-text text-truncate2 " style="text-shadow: 2px 2px 4px rgba(0,0,0,0.3); margin-top: -.96rem;">
              {{ product.text|safe|slice:":300" }}..
            </p>
            
            <a
              href="#"
              style="bottom: 10px"
              class="text-blue position-absolute stretched-link"
              >READ MORE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ product.date }}
              {% comment %} <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-right-short"
                viewBox="0 0 16 16"
              > {% endcomment %}
              
                <path
                  fill-rule="evenodd"
                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}


<div class="py-3 text-center container">
<center>
    <div class="slick-slider brands-slider">
      {% for i in slid_second %}
      <a href="/assets/brand-details.html">
        <img src="{{ i.image.url }}" class="img-fluid shadow" alt="" />
      </a>
      {% endfor %}
    
    </div>
    <a href="#" class=" btn btn-primary " style="margin-top: -.96rem;">View all brands
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
      </svg>
    </a>
  </div>
    </center>

    {% endblock %}

{% comment %} <ul>
    {% for product in products %}
    <li>
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <p>Price: ${{ product.price }}</p>
      <img src="{{ product.image.url }}" alt="{{ product.name }}">
    </li>
    {% endfor %}
  </ul> {% endcomment %}