body {
    width: 100%;
    overflow-x: hidden;
}

.spinner, .img-fluid {
    width: 200px; /* Increase width */
    height: 200px; /* Increase height */
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 6px solid #f25a41;
    border-radius: 50%;
    position: absolute;
    animation: spin 1s infinite linear;
}

.img-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}