{% extends "master.html" %}
{% block content %}
{% load static %}
<br>

<section>
    {% for ab in about %}
    <div class="py-4 container">
        <div class="row justify-content-center align-items-center g-20">
            <br>
            <div class="col-md-7" style="width:800px">
                <div class="card shadow" style="height: auto; width: 100%;"> <!-- Changed height to auto and set width to 100% -->
                    <img
                        src="{{ab.image.url}}"
                        class="card-img-top"
                        alt=""
                    />
                    <div class="card-body">
                        {% comment %} <h4 class="card-title text-blue">About Hertes</h4> {% endcomment %}
                        <p class="card-text text-truncate2" style="word-wrap: break-word;"> <!-- Added style for word-wrap -->
                            {{ ab.text|safe }}
                        </p>
                        <br>
                        <center>
                        <a
                            href="#"
                            style="bottom: 20px"
                            class="text-blue position-absolute stretched-link"
                        >{{ ab.timedate }}
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-arrow-right-short"
                                viewBox="0 0 16 16"
                            >
                        </center>
                                <path
                                    fill-rule="evenodd"
                                    d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endfor %}

 


    {% endblock %}