{% extends 'base.html' %}
{% block body %}
<section id="form" style="margin-left: 30% ;" >
    <!--form-->
    <div class="container pt-4">
        <div class="row col-lg-4 mx-auto shadow p-4 ">
            <div class="  ">
                <div class="login-form p-4 " >
                    <!--login form-->
                    <h2>New User Login to your account</h2>
                    <form  method="post" >
                        {% csrf_token %}  
                        {{form.as_p}}
                        <div>
                         <a href="/password-reset/" style="float:right;" > Forgot Password ?</a><br>
                         <button type="submit" class="btn btn-default">Login</button>
                         <a href="/signup/" style="margin-left: 100px;"  >Please Create Account&#8594; </a>
                        </div>
                       
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}