{% extends 'index1.html' %}
{% block body %}
<section id="form" style="margin-left: 30% ;" class="mt-5" >
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>New User Signup to your account</h2>
                    <form  method="post" >
                         {% csrf_token %}  
                        {% for field in form %}
                        {{ field.error }}
                        <p>{{field}}</p>
                        {% endfor %}
                        <div>
                            <button type="submit" class="btn btn-default">Signup</button>
                            <span style="margin-left: 100px; ">Already you have Account </span> <a href="/login/"> Login ? </a><br>
                        </div>
                       
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}